<!DOCTYPE html>
<html>
<head>
	<title>Demo</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<a href="/">
		<h1 ><strong>sD</strong></h1>
		</a>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}",action="#" method="POST" style=" text-align: center;" id="1321">
		<!-- <input type="text" name="comment"/> -->
		<textarea name="comment" rows="4" cols="50" placeholder="Enter the text here......." style="margin: 0px; height: 296px; width: 565px;"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict" >
		<input type="reset" value="Clear"  class="btn-info"> 
		
	</form>

</body>
</html>

