<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- Libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="static/img/logo.png"></img></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="https://github.com/venkat1702/Spam-Detection">Code</a></li>
         <li><a href="https://www.linkedin.com/in/yashwanth-venkat-743172190/">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>sD</h1>
      <h2>An effective spam filter  to give a spam-free experience to users..</h2>
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
     
    <form action="/predict", method="POST", style="text-align: center;">
	<textarea id="myInput" class="form-group" name="comment" rows="15" cols="30%"  required="true" placeholder="Enter the text here.......">{{comment1}}</textarea>
      <br/>
      <div class="btn-m">
	<input type="submit" class="btn-D" value="predict" >
      <button class="btn-D" onclick="document.getElementById('myInput').value = ''">Clear</button>
      </div>
      <div > 
        {% if prediction == 1%}
        <div class="form-group">
          <div class="card bg-danger text-white">
            <div class="card-body">Seem's like a Spam </div>
          </div>
        </div>
        {% elif prediction == 0%}
        <div class="form-group">
          <div class="card bg-success text-white">
            <div class="card-body">Yay! Not a Spam</div>
          </div>
        </div>
        {% endif %}
      </div>
      
    </form>
    

    </section><!-- #about -->
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>sD</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by yashwanth
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <script src="static/lib/waypoints/waypoints.min.js"></script>
  <script src="static/lib/counterup/counterup.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  
  

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>
  <script>
    const resultSection = document.getElementById('about')
    
    function scrollToPredictSection() {
      resultSection.scrollIntoView()
    }
  </script>

  {% if show_result %}
  <script>
    scrollToPredictSection()
  </script>
  {% endif %}

</body>
</html>
